<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611036267091-4a6ghds89tue5vbfr1q2tc3foctnpq6s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611036267091-4a6ghds89tue5vbfr1q2tc3foctnpq6s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>611036267091-kt3jhmqto5bbg0dtch4c35edo3c47odd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBRWnEu7nBIhZz9LGv3w3m_99WKOAXfWeQ</string>
	<key>GCM_SENDER_ID</key>
	<string>611036267091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>huan.huynh.moneymanager</string>
	<key>PROJECT_ID</key>
	<string>money-manager-50ffc</string>
	<key>STORAGE_BUCKET</key>
	<string>money-manager-50ffc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611036267091:ios:fd336eb298e1740e</string>
	<key>DATABASE_URL</key>
	<string>https://money-manager-50ffc.firebaseio.com</string>
</dict>
</plist>